<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> We Deal With The Aspects Of Professional IT Solutions
        Elevate your business with Altos Technologies. As a software development company in India, we craft custom websites and software solutions to fit your unique business needs. Our team of experts delivers solutions that streamline operations, boost efficiency, and create a lasting impact. Partner with us to take your success to new heights with quality and excellence at the forefront.</p>
<img src="{% static 'images/06.jpg' %}" alt="">
    </body>
</html>